:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

  --font: "Outfit", sans-serif;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  font-family: var(--font);
  height: 100vh;

  background-color: var(--Light-gray);
}
main {
  display: grid;
  gap: 19px;

  width: 320px;
  background-color: var(--White);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 10px 1px 50px hsl(220, 22%, 84%);
}
main > div > img {
  width: 290px;
  border-radius: 10px;
}

main > section {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  gap: 10px;

  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 18px;
}
main > section > h1 {
  font-weight: 700;
  font-size: 1.38rem;
  color: var(--Dark-blue);
}
main > section > p {
  align-self: center;
  
  font-size: 16px;
  font-weight: 400;
  color: var(--Grayish-blue);
}
